@charset "UTF-8";
::-webkit-scrollbar {
    width: 4px;
    height: 7px;
    padding-right: 10px;
	}
	::-webkit-scrollbar-button {
    width: 7px;
    height: 7px;
	}
	::-webkit-scrollbar-corner {
    background: 0 0;
	}
	::-webkit-scrollbar-thumb {
    background: #999;
    border: 1px solid #999;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	}
	::-webkit-scrollbar-track {
    background: 0 0;
    border: 0 none transparent;
    -webkit-border-radius: 53px;
    border-radius: 53px;
	}
	body {
	font-family: "Noto Sans KR",Roboto,"Malgun Gothic","맑은 고딕",helvetica,
	"Apple SD Gothic Neo",sans-serif,"Apple Color Emoji","Twemoji Country Flags";
	color: #4f545d;
    font-size: 14px;
   	background:#fff; 
   	margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
	}
	.wrap {
    height: 100%;
	}
	.container {
    height: 100%;
	}
	.container > .with-admin-left {
    z-index: 10;
    position: fixed;
    height: 100%;
	}
	.lnb-box {
    min-width: 260px;
    min-height: 100%;
    background-color: #4f545d;
	}
	.content {
    width: 100%;
    min-width: 1180px;
    max-width: 1650px;
    margin-left: 260px;
	}
	.content_wrap {
    position: relative;
    padding: 21px 30px 25px 30px;
	}
	.lnb-top {
    padding: 18px 0;
    height: 60px;
    box-sizing: border-box;
    background-color: #3d4044;
	}
	.cibox {
    width: 100%;
    vertical-align: middle;
	}
	.cibox img {
    margin-left: 30px;
    vertical-align: middle;
    width: 128px;
	}
	.logo-display-wrap{margin-top:-4px;}
	.logo-with{display:block;}
	.mCustomScrollbar {
    touch-action: pinch-zoom;
	}
	.lnb-menu-box {
    position: relative;
    height: calc(100vh - 170px);
    padding: 25px 10px 25px 30px;
	}
	.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
	}
	.mCSB_container {
    width: auto;
    height: auto;
	}
	.lnb-menu-box h2 {
	margin:0;
    margin-bottom: 7px;
    line-height: 24px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
	}
	.h3-box {
    margin-bottom: 18px;
    padding-left: 6px;
	}
	.lnb-menu-box h3 {
    cursor: pointer;
    line-height: 26px;
    font-size: 14px;
    color: #bebec3;
    font-weight: 400;
    margin:0;
	}
	.lnb-menu-box h3:hover{
	color:#00A3FF;
	text-decoration:underline;
	}
	.lnb_menu_box h3.on {
    cursor: default;
    color: #7faeff;
	}
	.gov-voucher-banner.admin {
    width: 210px;
    height: 34px;
    border-radius: 4px;
    background: #D6F8FF;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #003668;
	}
	.gov-voucher-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	}
	.gov-voucher-banner img {
    height: 14px;
    margin-right: 6px;
	}
	.gov-voucher-banner p {
	color:black;
	text-decoration:underline #fff;
	}
	.gov-voucher-banner span {
    color: red;
	}
	.admin-menual-btn {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 210px;
    padding: 13px 0 13px 0;
    border: 1px solid #ced0d4;
    background: #fff;
    color: #333;
    font-size: 13px;
    text-align: center;
	}
	.h3-box .on{color:#00A3FF;font-weight:600;}
	/*---------------------------------------------------------------------*/
	a { text-decoration:none;}
	h1 {
    margin: 10px;
    font-size: 24px;
	}
	button, a {
    cursor: pointer;
	}
	dl, ul, ol {
    list-style: none;
	}
	ul {
    margin: 0;
    padding: 0;
	}
	img, label {
    vertical-align: middle;
	}
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
	input, select, textarea, button {
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
	}
	input[type=checkbox], input[type=radio] {
    width: 16px;
    height: 16px;
    border: 1px solid #b2b2b2;
	}
	
	.titleh1_style {
    padding-bottom: 14px;
    border-bottom: 1px solid #e6e6e6;
	}
	.titleh1_style h1 {
    line-height: 24px;
    font-size: 19px;
    color: #111111;
    font-weight: 700;
	}
	.payment_cont {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #e9eaed;
	}
	.payment_cont.topline_none {
    margin-top: 0;
    border-top: 0;
	}
	.infotxt1_style {
    position: relative;
    padding: 15px 20px;
    background-color: #f9f9fb;
	}
	.mgb20 {
    margin-bottom: 20px !important;
	}
	.mgt20 {
    margin-top: 20px !important;
	}
	.mgt10 {
    margin-top: 10px !important;
	}
	.infotxt1_style {
    position: relative;
    padding: 15px 20px;
    background-color: #f9f9fb;
	}
	.help-view-btn {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 120px;
    padding: 7px 0;
    border-radius: 2px;
    background: #777;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
	}
	.infotxt1_style li {
    line-height: 24px;
    font-size: 12px;
    color: #4c4d4e;
	}
	.adminTextWrap {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    display:flex;
	}
	.adminText {
    color: #4F545D;
    font-size: 14px;
	}
	.switchLabel {
    display: inline-block;
    margin-left: 15px;
	}
	.adminText > em {
    color: #307CFE;
    font-style: normal;
	}
	.switch-35 {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 18px;
	}
	.switch-35 input[type=checkbox] {
    visibility: hidden;
	}
	.btn-switch {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 14px;
    background-color: #ccc;
    transition: background .15s ease-in;
	}
	.btn-switch span {
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color: #eee;
    transition: left .15s ease-in;
	}
	.switch-35 input[type=checkbox]:checked + .btn-switch {
    background-color: #307cfe;
	}
	.switch-35 input[type=checkbox]:checked + .btn-switch span {
    left: 24px;
    background-color: #fff;
	}
	.organizationSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
	}
	.organizationSearch input[type="text"] {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    color: #3D4044;
    font-family: inherit;
    font-size: 13px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-sizing: border-box;
	}
	.organizationChartWrap.disabled * button {
    background: #eee !important;
    color: #999 !important;
    border: 1px solid #eee !important;
	}
	.srchbtn_style {
    padding: 0 20px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #3d4044;
    font-weight: bold;
    border: 1px solid #c5c6cb;
    border-radius: 2px;
}
	.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.organizationSearch input[type="text"] + .btnSearch {
    margin-left: 5px;
    background: #fff;
}
.btn_style1 {
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: bold;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    background-color: #fff;
}
.btn_style1.bgblue2 {
    
    color: #fff;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
}
.btn_style1.bgblue {
    
    color: #fff;
    border-color: #307cff;
    background-color: #307cff;
}
.organizationManage {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    position: relative;
}
.organizationManage .top {
    height: 40px;
    background: #F9F9FB;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.organizationManage .bottom {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    height: 60px;
    background: #F9F9FB;
    border-top: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.organizationManage .top strong {
    padding: 12px 0;
    display: block;
    color: #111;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}
.organizationName {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.organizationInfoText {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(68vh - 120px);
    max-height: calc(68vh - 120px);
    height: 100px;
    text-align: center;
}
.btnWrap > button, .organizationManage button {
    background: #fff;
}
.srchbtn_style:hover {
    color: #000000;
    border-color: #999aa0;
}
.organizationManage button + button {
    margin-left: 6px;
}
.organizationManage button:last-child {
    margin-left: auto;
}

/*     조직도 뜨는부분         */
.organizationTree {
    padding: 0;
    width: 100%;
    background: transparent;
}
.tui-tree-wrap {
    height: auto;
    margin: 0;
    font-size: 11px;
    background-color: #f9f9f9;
}
.tui-tree-wrap .tui-tree, .tui-tree-wrap .tui-tree-subtree {
    margin: 0;
    padding-left: 0;
}
.tui-tree-root {
    overflow-y: auto;
}
#orgChartTree .tui-tree-drop {
    border-radius: 12px;
    padding: 0px 12px;
}
#orgChartTree .tui-tree-line {
    width: 100% !important;
    height: 2px;
}
.organizationTree .tui-tree-drop {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 33px;
    color: #307CFE;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #307CFE;
}
.organizationTree .tui-tree-content-wrapper {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
.tui-tree-wrap .tui-tree{
margin: 0;
    padding-left: 0;
}
.tui-tree-line {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 1px;
    background-color: #4b96e6;
    font-size: 0;
}
.tui-tree-wrap .tui-tree-node {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    cursor: pointer;
    position: relative;
}
.organizationTree.tui-tree-wrap .tui-tree-node .tui-tree-content-wrapper:last-child > .tui-tree-text:before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: #555;
    border-radius: 100%;
}
.tui-tree-leaf>.tui-tree-content-wrapper .tui-tree-text {
}
.organizationTree .tui-tree-text {
    padding-left: 8px;
    position: relative;
    display: flex;
    align-items: center;
    color: #111;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
    box-sizing: border-box;
}
.tui-tree-content-wrapper:after {
    display: block;
    clear: both;
    content: "";
}
.tui-tree-content-wrapper:hover, .tui-tree-hover > .tui-tree-content-wrapper {
    background-color: #ECECEF;
}
.organizationTree .tui-tree-selected > .tui-tree-content-wrapper {
    font-weight:bold;
}
.tui-selected>div{
background:#ECECEC;
}
.tui-selected>div .tui-tree-text{ font-weight:bold;}
/*     조직도 뜨는부분         */
/*     disable시         */
.organizationInfoDimm {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(250, 249, 249, 0.6);
    z-index: 1;
}
.organizationChartWrap .disabled .organizationInfoDimm {
    display: flex;
    position: absolute;
}
.adminText {
    color: #4F545D;
    font-size: 14px;
}
.organizationInfoDimm > p {
    line-height: 28px;
}
.admin-link {
    line-height: 17px;
    font-weight: bold;
    font-size: 13px;
    color: #307CFE;
    text-decoration-line: underline;
    text-underline-position: under;
}
/*     disable시         */
.able{
display:none;
}
.color-change1{
    color: #fff;
    border-color: #307cff;
    background-color: #307cff;
}

/*      부서 일괄 등록       */
.title-return-button {
    display: flex;
    align-items: center;
}
.return_back {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: url(https://flow.team/design2/flow_admin_2019/img/ico_popup_back.svg) no-repeat center;
    border: none;
    cursor: pointer;
}
.help-view-btn {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 120px;
    padding: 7px 0;
    border-radius: 2px;
    background: #777;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.payment_cont input[type=text] {
    min-width: 300px;
    height: 32px;
    font-size: 13px;
    color: #4f545d;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    box-sizing: border-box;
    padding-left: 10px;
}
.invite-excel-download::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin: 7px 5px 0 0;
    background: url(	https://flow.team/img/ico/ico_download_admin.png) no-repeat;
    vertical-align: top;
}
.payment_cont .info {
    font-size: 13px;
    color: #a2a2a2;
}
.mgt5 {
    margin-top: 5px !important;
}
.excel-count {
    float: left;
    margin-top: 4px;
}
.excel-menu {
    float: right;
    margin-bottom: 8px;
}
.mgt10 {
    margin-top: 10px !important;
}
.mgb15 {
    margin-bottom: 15px !important;
}
.impossible-line-view {
    display: inline-block;
    margin: -6px 0 0 12px;
}
table {
    empty-cells: show;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
legend, caption, hr {
    display: none;
}
button, input, select, table, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    color: #333;
}
.list_table thead .dvsn-excel-tr th {
    height: 10px;
    padding: 8px;
}
.list_table thead th {
    height: 37px;
    background-color: #f9f9fb;
}
.list_table th, .list_table td {
    vertical-align: middle;
    font-size: 13px;
    color: #111;
    text-align: center;
    font-weight: normal;
    border: 1px solid #e1e1e2;
}
.list_table thead .dvsn-excel-tr .dvsn-excel-check-th {
    width: 30px;
}
/*      부서 일괄 등록       */
/* 부서 초기화 팝업 */
.pop-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 11000;
    margin-top: -598px;
}

.pop {
    width: 380px;
    z-index: 11000;
    height: auto;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -175px;
    border-radius: 7px;
}
.pop-head{
    height: 43px;
    background: rgb(244, 244, 244);
    border-radius: 7px 7px 0px 0px;
}
.pop-title{
position: relative;
    padding: 11px 0px 0px 16px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(17, 17, 17);
    margin-block-end: 1em;
    margin-inline: 0px;
}
.pop-close{
display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    background-image: url(https://flow.team/design2/img_rn/btn/btn_layerstyle4_close2.png?1);
    cursor: pointer;
}
.pop-body{
    padding: 20px;
}
.pop-btn{
    padding: 20px;
    padding-bottom:0px;
    text-align: center;
    
}
.pop-no{
    width: 45%;
    margin-right: 10px;
    height: 30px;
    font-size: 14px;
    color: rgb(76, 76, 76);
    font-weight: bold;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.pop-yes{
    width: 45%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(48, 124, 255);
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
}
/* 부서 초기화 팝업 */

.payment_cont dt {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #4f545d;
}
.payment_cont dd + dt {
    margin-top: 25px;
}
.ivtemail li {
    margin-bottom: 10px;
}
.payment_cont input[type=text] {
    min-width: 300px;
    height: 32px;
    font-size: 13px;
    color: #4f545d;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    box-sizing: border-box;
}
.ivtemail input[type=text] {
    width: 320px;
}
.input_bx .btn_copy {
    margin-left: -3px;
    width: 30px;
    height: 30px;
    border: 0;
    background: url(https://flow.team/design2/flow_admin_2019/img/ico_copy.png
) no-repeat center center;
}
.input_bx .btn_copy:hover {
    background-image: url(	https://flow.team/design2/flow_admin_2019/img/ico_copy_over.png);
}
.alert_wrap {
    z-index: 899;
    position: fixed;
    min-width: 350px;
    min-height: 40px;
    background: #cde9f5;
}
.alert_box pre {
    color: #555;
    font-weight: bold;
        padding: 13px;
}/* 그 알림 잠깐 뜨는거 */

/*     공개 프로젝트 카테고리       */

.titleh1_style + .btn_both {
    margin-top: 15px;
}
.btn_both {
    position: relative;
    min-height: 30px;
}
.btn_both .right {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.list_table tbody td {
    position: relative;
    padding: 8px;
    height: 25px; 
    line-height: 16px;
    word-break: break-word;
}
.list_table th, .list_table td {
    vertical-align: middle;
    font-size: 13px;
    color: #111;
    text-align: center;
    font-weight: normal;
    border: 1px solid #e1e1e2;
}
.btn_both + .list_table.type2 {
    margin-top: 10px !important;
}
/*     공개 프로젝트 카테고리       */

/* 로그인 보안 설정  */

.new-security-wrap h1 {
    color: #111;
    margin: 0 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
}
.new-security-wrap h1 > a {
    margin-left: 10px;
    /* color: #4F545D; */
    color: #316cdc;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    background-color: transparent;
    border: 0;
}
.new-security-wrap .main-wrap {
    margin-top: 30px;
    border-bottom: 1px solid #E6E6E6;
}
.new-security-wrap .main-wrap > .div-title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.new-security-wrap .info-wrap {
    margin: 20px 0 35px;
    padding: 9px 12px;
    background: #F9F9FB;
}
.new-security-wrap .info-wrap li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.div-title .button-wrap {
    display: flex;
    margin: 2px 0 0 8px;
}
.new-security-wrap .main-wrap .sub-button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4F545D;
}
.new-security-wrap .main-wrap .button-blue {
    padding: 5px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background: #307CFE;
    border-radius: 2px;
}
.new-security-wrap .table-wrap {
    height: 214px;
    overflow: auto;
    border: 1px solid #E6E6E6;
}
.new-security-wrap .table-wrap table {
    table-layout: initial;
}
.new-security-wrap .table-wrap thead {
    position: sticky;
    top: 0;
    background: #F9F9FB;
}
.new-security-wrap .table-wrap thead tr {
    border-bottom: 1px solid #E6E6E6;
}
.new-security-wrap .table-wrap thead tr th {
    padding: 10px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    background: #F9F9FB;
}
.new-security-wrap .table-wrap tbody tr.table-null-wrap td {
    padding: 60px 0 72px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.new-security-wrap .table-wrap tbody tr td {
    padding: 10px 0;
    font-weight: 400;
    font-size: 13px;
    color: #111;
    line-height: 23px;
    text-align: center;
}
.new-security-wrap .button-info {
    margin: 2px 0 0 4px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    color: #999;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    font-family: auto;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container {
    position: fixed;
    top: 35vh;
    left: 40vw;
    width: 480px;
    height: 210px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 0 20px 0px #0003;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > header {
    font-size: large;
    font-weight: bold;
    padding: 0 0 15px 0;
    border-bottom: 1px solid lightgrey;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > section > div.modal-input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
input[type=text], input[type=password], input[type=file] {
    padding-left: 10px;
    height: 30px;
    font-size: 13px;
    box-sizing: border-box;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > section > div.modal-input-wrap > .allow-ip-input-wrap {
    display: flex;
    justify-content: start;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    margin-right: 20px;
    height: 30px;
    box-sizing: border-box;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > section > div.modal-input-wrap > .allow-ip-input-wrap > input {
    width: 40px;
    padding-left: 0;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 14px;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.new-security-wrap .file-security-allow-ip-modal > .allow-ip-modal-container > footer > button {
    margin: 0 10px;
    min-width: 100px;
}
.btn_blue2 {
    background-color: #307CFF !important;
    color: white !important;
    border-color: #104eb9 !important;
}
.plusbtn_style {
    padding: 0 15px;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #3d4044;
    font-weight: bold;
    border: 1px solid #c5c6cb;
    border-radius: 2px;
}
input.pop_close {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 0;
    background: url(https://flow.team/design2/flow_admin_2019/img/btn_popclose.gif) no-repeat center;
}
.rotating {
    animation: rotating 2s linear infinite;
}
.new-security-wrap .main-wrap .button-light {
    margin-right: 10px;
    padding: 5px 15px;
    color: #4F545D;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #C5C6CB;
}
/* 로그인 보안 설정  */
#공개_프로젝트_카테고리 .list_table #open_catg_tbody .btn_drag{display:inline-block;}

/* datepicker */
/*datepicer 버튼 롤오버 시 손가락 모양 표시*/
.ui-datepicker-trigger{cursor: pointer;}
/*datepicer input 롤오버 시 손가락 모양 표시*/
.hasDatepicker{cursor: pointer;}
/* datepicker */



.btn_drag {
    display: inline-block;
    width: 18px;
    height: 12px;
    background-image: url(https://flow.team/design2/flow_admin_2019/img/ico_category_off.png);
    background-repeat: no-repeat;
}


.organizationTree .tui-tree-closed .tui-ico-tree {
    position: relative;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.organizationTree .tui-tree-closed .tui-ico-tree::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -0.7px;
    transform: translateY(-50%);
    top: 50%;
    width: 2px;
    height: 9px;
    background: #555;
}
.organizationTree .tui-tree-closed .tui-ico-tree::after {
    content: "";
    position: absolute;
    left: -5px;
    transform: translateY(-50%);
    top: 50%;
    width: 10px;
    height: 2px;
    background: #555;
}
.organizationTree .tui-tree-opened .tui-ico-tree::after {
    content: "";
    position: absolute;
    left: -5px;
    transform: translateY(-50%);
    top: 50%;
    width: 10px;
    height: 2px;
    background: #555;
}

.organizationTree .tui-tree-opened .tui-ico-tree {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.tui-tree-leaf .tui-tree-text:before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: #555;
    border-radius: 100%;
}
.organizationTree.tui-tree-wrap .tui-tree-toggle-btn {
    margin: 0;
    width: 18px;
    height: 18px;
}